1. Create a list that defined as = [10, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

# Write a program to add 200 and 300 to L
L.append(200)
L.append(300)
#OR L.extend([200, 300])
print("After adding 200 and 300 the list is: ", L)

# Remove 10 and 30 from L
L.remove(10)
L.remove(30)
print("Remove 10 and 30 from list: ", L)

# Sort L in ascending order
L.sort()
print("Sorting list in ascending order: ", L)

# Sort L in descending order
L.sort(reverse=True)
print("Sorting list in descending order: ", L)

After adding 200 and 300 the list is:  [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
Remove 10 and 30 from list:  [20, 40, 50, 60, 70, 80, 200, 300]
Sorting list in ascending order:  [20, 40, 50, 60, 70, 80, 200, 300]
Sorting list in descending order:  [300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:

In [ ]:
#Identify the highest scorea and its index in the tuple
Scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest_score = max(Scores)
print("Higest score:", highest_score)
print("Index of Highest score:", Scores.index(highest_score))

Higest score: 92
Index of Highest score: 5

In [ ]:
#Find the lowest score and count how many times it appears
Scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
lowest_score = min(Scores)
print("Lowest score :", min(Scores))
print("It appear ", Scores.count(lowest_score),"times")

Lowest score : 45
It appear  2 times

In [ ]:
#Reverse the tuple and return it as a list
Scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print(Scores)
reverse_scores = Scores[::-1]
print("The reverse of Scores is ", reverse_scores)
print(list(reverse_scores))

(45, 89.5, 76, 45.4, 89, 92, 58, 45)
The reverse of Scores is  (45, 58, 92, 89, 45.4, 76, 89.5, 45)
[45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [ ]:
#Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.
Scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
Check_score = float(input("Enter a number: "))
if Check_score in Scores:
  score_index = Scores.index(Check_score)
  print(f"Score {Check_score} is present at index {score_index}.")
else:
  print(f"Score {Check_score} is not present in the tuple")

Enter a number: 76
Score 76.0 is present at index 2.

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:

In [14]:
import random
#All odd numbers
random_numbers = [random.randint(100,900) for _ in range(100)]
print("The random numbers are: ", random_numbers)
odd_numbers = [num for num in random_numbers if num % 2 != 0]
print("The odd numbers :", odd_numbers)
print("Count of odd numbers:", len(odd_numbers))

#All even numbers
even_numbers = [num for num in random_numbers if num % 2 == 0]
print("Even numbers:", even_numbers)
print("Count of even numbers:", len(even_numbers))

#All prime numbers
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in random_numbers if is_prime(num)]
print("Prime numbers:", prime_numbers)
print("Count of prime numbers:", len(prime_numbers))

The random numbers are:  [129, 683, 286, 486, 850, 142, 473, 160, 735, 110, 441, 644, 677, 747, 292, 130, 323, 654, 617, 433, 541, 783, 876, 528, 776, 222, 750, 458, 487, 899, 558, 142, 809, 587, 682, 659, 670, 200, 350, 706, 291, 227, 598, 859, 652, 288, 238, 476, 614, 481, 193, 771, 720, 762, 133, 408, 748, 738, 567, 654, 560, 713, 877, 666, 120, 712, 845, 781, 558, 445, 304, 714, 682, 668, 325, 792, 510, 222, 794, 281, 482, 474, 783, 706, 155, 341, 649, 140, 501, 384, 877, 512, 616, 323, 302, 146, 475, 505, 365, 543]
The odd numbers : [129, 683, 473, 735, 441, 677, 747, 323, 617, 433, 541, 783, 487, 899, 809, 587, 659, 291, 227, 859, 481, 193, 771, 133, 567, 713, 877, 845, 781, 445, 325, 281, 783, 155, 341, 649, 501, 877, 323, 475, 505, 365, 543]
Count of odd numbers: 43
Even numbers: [286, 486, 850, 142, 160, 110, 644, 292, 130, 654, 876, 528, 776, 222, 750, 458, 558, 142, 682, 670, 200, 350, 706, 598, 652, 288, 238, 476, 614, 720, 762, 408, 748, 738, 654, 560, 666, 120, 712, 558, 304, 714, 682, 668, 792, 510, 222, 794, 482, 474, 706, 140, 384, 512, 616, 302, 146]
Count of even numbers: 57
Prime numbers: [683, 677, 617, 433, 541, 487, 809, 587, 659, 227, 859, 193, 877, 281, 877]
Count of prime numbers: 15

4. Consider the following two sets, A and B, representing scores of two teams in multiple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operations using set functions:

In [21]:
#Find the unique scores achieved by both teams (union of sets).
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print("The unique scores achieved by both teams are ", A.union(B))

#Identify the scores that are common to both teams (intersection of sets).
print("The scores that are common in both are ", A&B)

#Find the scores that are exclusive to each team (symmetric difference).
print("The scores that are exclusive to each team are", A.symmetric_difference(B))

#Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
print("Are the scores of team A is subset of team B?", A.issubset(B))
print("Are the scores of team B is superset of team A?", B.issuperset(A))

#Remove a specific score 𝑋 (input by the user) from set A if it exists. If not, print a message saying it is not present.
Remove_score = int(input("Enter score which you want to remove: "))
if Remove_score in A:
  print(f"Score {Remove_score} has been removed from set A", A.remove(Remove_score))
else:
  print(f"Score {Remove_score} is not present in set A")

print("Updated set of A",A)

The unique scores achieved by both teams are  {34, 45, 78, 23, 56, 90}
The scores that are common in both are  {90, 78}
The scores that are exclusive to each team are {34, 45, 23, 56}
Are the scores of team A is subset of team B? False
Are the scores of team B is superset of team A? False
Enter score which you want to remove: 78
Score 78 has been removed from set A None
Updated set of A {56, 34, 90}

5. Write a program to rename a key city to a location in the following
 dictionary

In [25]:
sample_dict = {
    "name": "kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
print("The Original dictionary:", sample_dict)
old_key = "city"
new_key = "location"
if old_key in sample_dict:
  sample_dict[new_key] = sample_dict.pop(old_key)
  print(f"Renamed '{old_key}' to '{new_key}'")
else:
  print(f"'{old_key}' not found in the dictionary.")

print("The updated dictionary is: ",sample_dict )

The Original dictionary: {'name': 'kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
Renamed 'city' to 'location'
The updated dictionary is:  {'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}